
.map {
    height: 100vh;
    width: 100%;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: space-between;
  }
  
  .content-area {
    height: 100%;
   }
  
   .demo-area {
  height: 100vh;
   }

   :host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* header {
    background-color: var(--header-color);
    padding: 2em;
} */
header .title {
    font-size: 28px;
}
main {
    display: flex;
    flex-grow: 1;
}


footer {
    display: flex;
    background-color: var(--header-color);
    padding: 1em;
    justify-content: space-between;
}
